/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 0px;
  color: #5a5a5a;
  font-family: 'Raleway', verdana;
  background: url(C:/Users/Asus/Documents/Justin/git/CSlibrary/images/bg.png) 0 0 repeat;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 530px;

  margin-bottom: 25px;
  margin-top: 53px;
  margin-left: -1px;
  margin-right:  -1px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 530px;
  background-color: #000000;
 
}



.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 530px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-left:  15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left:  0;
    padding-right: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;

}

  .featurette-heading {
    font-size: 50px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

.head {
font-size: 50px;
  background: url(C:/Users/Asus/Documents/Justin/git/CSlibrary/images/henrysy.jpg);
margin-top: 54px;
width: 100%;
height: 530px;
}

.signup{
  margin-left: 120px;
}

.head .main{
  
    margin-left: 70px;
    
    color: #ffffff;
}

.head .submain{
  margin-left:70px;
  margin-top:20px;
}

.section {
  width: 1333px;
  height: 280px;
  background-color:#ffffff;
  margin-top: 10px;
  margin-left: 10px;
}

.section .box1 {
  width: 400px;
  height: 250px;
  margin-left: 20px;
}

.section .box2{
  width:400px;
  height:250px;
  margin-left: 450px;
  margin-top: -245px;
}

.section .box3{
  width:400px;
  height:250px;
  margin-left: 915px;
  margin-top: -250px;
}

.fixed {
  background-color: #309308;
  width: 250px;
  height: 100%;
  position: fixed;
}

.mainpanel {
  background-color:#000000;
  width: 1100px;
  height: 700px;
  margin-left: 250px;
}

.favfiles {
  background-color:#ffffff;
  
  width: 500px;
  height: 700px;
  margin-left: 270px;
  position: absolute;
  margin-top: 70px;
  float: left;
  padding: 18px;
  font-size: 11px;
}

.filename a {
  color:#188939;
  text-decoration:none; 
  font-size: 15px;

}

.info {
  color: #999999;
  line-height: 13px;
}

.divider{
  line-height:1px;
  color:#999999;
}

.head {
  font-size: 20px;
  color: #000000;

  text-decoration: none;
}

.file_entry:hover {
  display:block;
  background-color: #e9efeb;
  height:100%;
  height:auto;
}

.filename {
  color:#188939;
  text-decoration:none; 
  font-size: 15px;

}

.recentuploads {
  background-color:#ffffff;
  width: 500px;
  height: 700px;
  margin-left: 800px;
  position: absolute;
  margin-top: 70px;
  float: right;
  padding: 18px;
  font-size: 11px;
}

.dropdown-menu {
  width: 330px;

}

.menubar {
  width: 1000px;
  margin-top: 10px;
  height: 53px;
  position: absolute;
  margin-left: 1000px;
}

.btn-default{
  background-color:#3eb70e;
  border-color: #3eb70e;
  color: #ffffff;
}

.btn-default1{
  width:200px;
}

.btn-default:hover{
  background-color:#47db0c;
  border-color:#47db0c;
  color: #ffffff;
}

.btn1{
    margin-right: 10px;
    
    margin-left: -100px;
}

.btn-success{
    width: 200px;
  
    margin-left: 70px;
}

.form-control:hover{
  border-color: #3eb70e;
}

.dropdown-menu:active{
  display:block;
}

.dropdown-menu:focus{
  display:block;
}

.dropdown-menu:visited{
  display:block;
}

.navbar{
  margin-top:0px;
  height: 50px;
}

.navbar-brand{
  height:50px;
}

.form-group{
    margin-top: -3px;
  
}

.form-control{
  width:100px;
}

.col-md-4{
  background-color:#ffffff;
  margin-top: 20px;
  width: 480px;
  height: 658px;
}
.col-md-55{
  background-color:#ffffff;
  margin-top: 20px;
  width: 480px;
  margin-left: 550px;
  height: 658px;
  padding-top: 2px;
  padding-left: 15px;
}

.btn-group-vertical{
    width: 100%;

    height: 100%;
    margin-top: 30px;
}

.label-success{
    width: 100%;
  
    height: 100%;
    margin-left: 50px;
}
@media (max-width:420px){
  .navbar-brand{
    display:none;
  }
}

@media (min-width:1366px){
  .img{
    margin-left:50px;
    margin-top:-10px;
  }
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 50px;
    margin-top:-13px;
  }
  .container{
    margin-right:-100px;
    margin-top: 50px;
  }
}

@media (max-width: 1365px) {
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 50px;
    margin-top:-13px;
  }
}

@media (max-width:1255px){
  .navbar-nav .notif{
    display:none;
  }
}

@media (max-width:1140px){
  .navbar-form{
    display:none;
  }
}

@media (max-width:767px){
  .navbar-form{
    display:block;
  }
  .navbar-nav .notif{
    display:block;
  }
}